<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ようこそBookersへ！</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <h1>ようこそ&nbsp;<strong>Bookers&nbsp;へ！</strong></h1>
    <p>
      <strong>Bookers&nbsp;</strong>では、さまざまな書籍に関するあなたの意見や
    </p>

    <p>印象を共有し交換することができます</p>

    <a href="/books">start</a>

  </body>
</html>